.date-selection-wrapper{
    max-width: 400px;
}

.date-shift-wrapper{
    max-width: 400px;
    display: flex;
    justify-content: space-between;
}

.date-shift-button{
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
    color: #8F677F;
    cursor: pointer;
}

.date-shift-button:hover {
    background-color: #8F677F80;
}