:root {
  --main-margin-left: 10vh;
  background-color: #F8F9FA;
  --primary-color:#003B71;
  /* width: 100%; */
}

#header-nav{
  margin-left: var(--main-margin-left);
  font-size: 2.5rem;
}

.App {
  background-color: #F8F9FA;
}


.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  width: 300px;
}

.content {
  flex: 1 0 auto;
  padding-left: 300px;
  /* enable grow, disable shrink */
}

.App-layout {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.App-header {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-main {
  display: flex;
  flex-direction: column;
  margin-left: var(--main-margin-left);
  align-items: flex-start;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  margin-top: 16px;
  color: black;
}

.App-main-section {
  margin-top: 24px;
}


.calendar-button{
  background-color: transparent;
  box-shadow: none;
  border-color: transparent;
  color: var(--primary-color);
}

/* #calendar-button{
  background-color: transparent;
  box-shadow: none;
  border-color: transparent;
  color: var(--primary-color);
} */

#arrow-up {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

#arrow-down {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

#arrow-left {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

#arrow-right {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}

.App-link {
  color: #61dafb;
}