:root {
  --main-margin-left: 10vh;
  background-color: #F8F9FA;
  /* width: 100%; */
}

#header-text{
  margin-left: var(--main-margin-left);
  font-size: 2.5rem;
}

.App {
  background-color: #F8F9FA;
}

.App-header {
  background-color: #003B71;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-main {
  display: flex;
  flex-direction: column;
  margin-left: var(--main-margin-left);
  align-items: flex-start;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  margin-top: 16px;
  color: black;
}

.App-main-section {
  margin-top: 24px;
}

#arrow-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid black;
}

#arrow-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid black;
}


.arrow {
  top: 90%;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


/* .card {
  width: '18rem'
} */

/* .container {
  min-width: 100px;
} */
/* .App-main-live-cards {
  display: flex;
  flex-direction: row;

} */

/* .card-columns {
  -webkit-column-count: auto !important;
  -moz-column-count: auto !important;
  column-count: auto !important;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
} */

/* Card{
  width: 18rem;
  display: flex;
  flex-direction: row;
  margin-left: 16px;
} */

.App-link {
  color: #61dafb;
}