:root {
  --main-margin-left: 10vh;
  background-color: #F8F9FA;
  --primary-color:#003B71;
  --sidebar-width: 250px;
  /* width: 100%; */
}

#header-nav{
  margin-left: var(--main-margin-left);
  font-size: 2.5rem;
}

.App {
  background-color: #F8F9FA;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.content {
  /* margin-left: var(--sidebar-width); change with Javascript along with sidebar width */
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* .content {
  display: flex;
  flex-direction: column;
} */

.App-layout {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.App-header {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-main {
  display: flex;
  flex-direction: column;
  margin-left: var(--main-margin-left);
  align-items: flex-start;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  margin-top: 16px;
  color: black;
}

.App-main-section {
  margin-top: 24px;
}


.calendar-button{
  background-color: transparent;
  box-shadow: none;
  border-color: transparent;
  color: var(--primary-color);
}

/* #calendar-button{
  background-color: transparent;
  box-shadow: none;
  border-color: transparent;
  color: var(--primary-color);
} */

#arrow-up {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

#arrow-down {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

#arrow-left {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

#arrow-right {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}

.App-link {
  color: #61dafb;
}